# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: cmd, alt, ctrl, shift

config-version = 2

start-at-login                     = true
default-root-container-layout      = 'accordion'
default-root-container-orientation = 'auto'
key-mapping.preset                 = 'qwerty'
on-focused-monitor-changed         = ['move-mouse monitor-lazy-center']

accordion-padding = 32

[gaps]
    inner.horizontal = 4
    inner.vertical   = 4
    outer.left       = 4
    outer.bottom     = 4
    outer.top        = 4
    outer.right      = 4


[mode.main.binding]
    alt-h = 'focus left  --boundaries-action wrap-around-the-workspace'
    alt-j = 'focus down  --boundaries-action wrap-around-the-workspace'
    alt-k = 'focus up    --boundaries-action wrap-around-the-workspace'
    alt-l = 'focus right --boundaries-action wrap-around-the-workspace'

    alt-shift-h = 'swap left'
    alt-shift-j = 'swap down'
    alt-shift-k = 'swap up'
    alt-shift-l = 'swap right'

    alt-y = 'workspace 1'
    alt-1 = 'workspace 1'
    alt-u = 'workspace 2'
    alt-2 = 'workspace 2'
    alt-i = 'workspace 3'
    alt-3 = 'workspace 3'
    alt-o = 'workspace 4'
    alt-4 = 'workspace 4'
    alt-p = 'workspace 5'
    alt-5 = 'workspace 5'
    alt-6 = 'workspace 6'
    alt-7 = 'workspace 7'
    alt-8 = 'workspace 8'
    alt-9 = 'workspace 9'

    alt-shift-y = ['move-node-to-workspace 1', 'workspace 1']
    alt-shift-1 = ['move-node-to-workspace 1', 'workspace 1']
    alt-shift-u = ['move-node-to-workspace 2', 'workspace 2']
    alt-shift-2 = ['move-node-to-workspace 2', 'workspace 2']
    alt-shift-i = ['move-node-to-workspace 3', 'workspace 3']
    alt-shift-3 = ['move-node-to-workspace 3', 'workspace 3']
    alt-shift-o = ['move-node-to-workspace 4', 'workspace 4']
    alt-shift-4 = ['move-node-to-workspace 4', 'workspace 4']
    alt-shift-p = ['move-node-to-workspace 5', 'workspace 5']
    alt-shift-5 = ['move-node-to-workspace 5', 'workspace 5']
    alt-shift-6 = ['move-node-to-workspace 6', 'workspace 6']
    alt-shift-7 = ['move-node-to-workspace 7', 'workspace 7']
    alt-shift-8 = ['move-node-to-workspace 8', 'workspace 8']
    alt-shift-9 = ['move-node-to-workspace 9', 'workspace 9']


    alt-enter = 'fullscreen --no-outer-gaps'


    alt-semicolon = 'mode manage'
    alt-m         = 'mode display'
    alt-r         = 'mode resize'
    alt-slash     = 'mode workspace'

[mode.manage.binding]

    esc       = ['reload-config', 'mode main']
    r         = ['flatten-workspace-tree', 'mode main']
    f         = ['layout floating tiling', 'mode main']
    backspace = ['close-all-windows-but-current', 'mode main']

    minus = 'resize smart -50'
    equal = 'resize smart +50'

    h = ['join-with left ', 'mode main']
    j = ['join-with down ', 'mode main']
    k = ['join-with up   ', 'mode main']
    l = ['join-with right', 'mode main']

    alt-semicolon = ['layout accordion tiles    ', 'mode main']
    semicolon     = ['layout horizontal vertical', 'mode main']

    t = ['layout tiles     horizontal vertical', 'mode main']
    a = ['layout accordion horizontal vertical', 'mode main']

    b = ['balance-sizes', 'mode main']

    q = ['close-all-windows-but-current', 'mode main']


[mode.display.binding]
    esc = 'mode main'

    h = ['focus-monitor left', 'mode main']
    j = ['focus-monitor down', 'mode main']
    k = ['focus-monitor up', 'mode main']
    l = ['focus-monitor right', 'mode main']

    alt-h = [
        'move-node-to-monitor --wrap-around left',
        'focus-monitor left',
        'mode main',
    ]
    alt-j = [
        'move-node-to-monitor --wrap-around down',
        'focus-monitor down',
        'mode main',
    ]
    alt-k = [
        'move-node-to-monitor --wrap-around up',
        'focus-monitor up',
        'mode main',
    ]
    alt-l = [
        'move-node-to-monitor --wrap-around right',
        'focus-monitor right',
        'mode main',
    ]

    y = ['summon-workspace 1', 'mode main']
    u = ['summon-workspace 2', 'mode main']
    i = ['summon-workspace 3', 'mode main']
    o = ['summon-workspace 4', 'mode main']
    p = ['summon-workspace 5', 'mode main']

[mode.resize.binding]
    esc = 'mode main'

    b = 'balance-sizes'

    minus = 'resize smart -50'
    equal = 'resize smart +50'

    l = 'resize width +50'
    h = 'resize width -50'
    j = 'resize height -50'
    k = 'resize height +50'

[mode.workspace.binding]
    esc = 'mode main'

    alt-a = ['workspace A', 'mode main']
    alt-b = ['workspace B', 'mode main']
    alt-c = ['workspace C', 'mode main']
    alt-d = ['workspace D', 'mode main']
    alt-e = ['workspace E', 'mode main']
    alt-f = ['workspace F', 'mode main']
    alt-g = ['workspace G', 'mode main']
    alt-h = ['workspace H', 'mode main']
    alt-i = ['workspace I', 'mode main']
    alt-j = ['workspace J', 'mode main']
    alt-k = ['workspace K', 'mode main']
    alt-l = ['workspace L', 'mode main']
    alt-m = ['workspace M', 'mode main']
    alt-n = ['workspace N', 'mode main']
    alt-o = ['workspace O', 'mode main']
    alt-p = ['workspace P', 'mode main']
    alt-q = ['workspace Q', 'mode main']
    alt-r = ['workspace R', 'mode main']
    alt-s = ['workspace S', 'mode main']
    alt-t = ['workspace T', 'mode main']
    alt-u = ['workspace U', 'mode main']
    alt-v = ['workspace V', 'mode main']
    alt-w = ['workspace W', 'mode main']
    alt-x = ['workspace X', 'mode main']
    alt-y = ['workspace Y', 'mode main']
    alt-z = ['workspace Z', 'mode main']

    alt-shift-a = ['move-node-to-workspace A', 'workspace A', 'mode main']
    alt-shift-b = ['move-node-to-workspace B', 'workspace B', 'mode main']
    alt-shift-c = ['move-node-to-workspace C', 'workspace C', 'mode main']
    alt-shift-d = ['move-node-to-workspace D', 'workspace D', 'mode main']
    alt-shift-e = ['move-node-to-workspace E', 'workspace E', 'mode main']
    alt-shift-f = ['move-node-to-workspace F', 'workspace F', 'mode main']
    alt-shift-g = ['move-node-to-workspace G', 'workspace G', 'mode main']
    alt-shift-h = ['move-node-to-workspace H', 'workspace H', 'mode main']
    alt-shift-i = ['move-node-to-workspace I', 'workspace I', 'mode main']
    alt-shift-j = ['move-node-to-workspace J', 'workspace J', 'mode main']
    alt-shift-k = ['move-node-to-workspace K', 'workspace K', 'mode main']
    alt-shift-l = ['move-node-to-workspace L', 'workspace L', 'mode main']
    alt-shift-m = ['move-node-to-workspace M', 'workspace M', 'mode main']
    alt-shift-n = ['move-node-to-workspace N', 'workspace N', 'mode main']
    alt-shift-o = ['move-node-to-workspace O', 'workspace O', 'mode main']
    alt-shift-p = ['move-node-to-workspace P', 'workspace P', 'mode main']
    alt-shift-q = ['move-node-to-workspace Q', 'workspace Q', 'mode main']
    alt-shift-r = ['move-node-to-workspace R', 'workspace R', 'mode main']
    alt-shift-s = ['move-node-to-workspace S', 'workspace S', 'mode main']
    alt-shift-t = ['move-node-to-workspace T', 'workspace T', 'mode main']
    alt-shift-u = ['move-node-to-workspace U', 'workspace U', 'mode main']
    alt-shift-v = ['move-node-to-workspace V', 'workspace V', 'mode main']
    alt-shift-w = ['move-node-to-workspace W', 'workspace W', 'mode main']
    alt-shift-x = ['move-node-to-workspace X', 'workspace X', 'mode main']
    alt-shift-y = ['move-node-to-workspace Y', 'workspace Y', 'mode main']
    alt-shift-z = ['move-node-to-workspace Z', 'workspace Z', 'mode main']

[[on-window-detected]]
    if.app-id = 'com.mitchellh.ghostty'
    run       = 'move-node-to-workspace 3'

[[on-window-detected]]
    if.app-id = 'net.kovidgoyal.kitty'
    run       = 'move-node-to-workspace 3'

[[on-window-detected]]
    if.app-id = 'com.github.wez.wezterm'
    run       = 'move-node-to-workspace 3'

[[on-window-detected]]
    if.app-id = 'com.apple.Safari'
    run       = 'move-node-to-workspace 2'

[[on-window-detected]]
    if.app-id = 'com.openai.chat'
    run       = 'move-node-to-workspace 2'

[[on-window-detected]]
    if.app-id = 'com.google.Chrome'
    run       = 'move-node-to-workspace 2'

[[on-window-detected]]
    if.app-id = 'org.mozilla.firefox'
    run       = 'move-node-to-workspace 2'

[[on-window-detected]]
    if.app-id = 'com.tdesktop.Telegram'
    run       = 'move-node-to-workspace 5'

[[on-window-detected]]
    if.app-id = 'ru.keepcoder.Telegram'
    run       = 'move-node-to-workspace 5'

[[on-window-detected]]
    if.app-id = 'com.apple.MobileSMS'
    run       = 'move-node-to-workspace 5'
